<% @messages.each do |other_person, messages| %>
  <div class='mensagem'>
    <h3><%= link_to other_person.name, "/user_profile/#{other_person.id}" %></h3><br/>
    <% messages.each do |message| %>
      <b><%= message.sender.name %>:</b> <%= message.body %><br/>
    <% end %>
    
    <%= form_for(@message) do |f| %>
      <%= f.text_area :body, :rows => '3' %>
      <%= f.hidden_field :sender_id, :value => current_user.id %>
      <%= f.hidden_field :receiver_id, :value => other_person.id %>
      <%= f.submit "Enviar", :class => 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
