<div class="signIn">
	<h2>Sign in</h2>
	</br>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<div>
	  <%= f.label :email %>
      <%= f.email_field :email %>
	</div>

	  <div>
	  	<div class="textFill">
	  		<%= f.label :password %>
	  	</div>
	  	<%= f.password_field :password %>
	  </div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="remember">
	    	<%= f.check_box :remember_me, :class=>"esquerda" %>
	    	<%= f.label :remember_me, :class=>"rememberdireita" %>
	    </div>
	  <% end -%>

	  <div class="signin"><%= f.submit "Sign in", :class=>"btn btn-primary" %>
	  </div>
	<% end %>
<div class="links">
	<%= render "links" %>
</div>
</div>