<h1>Buscando no my_books por (<%= params[:search_string] %>) </h1>

<table>
  <tr>
    <th>Titulo do Livro</th>
    <th> / Dono do livro</th>
    <th> / Distância</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_books.each do |my_book| %>
  <tr>
    <td><%= my_book.book.title %></td>
    <td><%= my_book.owner.name %></td>
    <%= puts "**************************** #{current_user.distance_to(my_book.owner)} ****************************" %>
    <td><%= current_user.distance_to(my_book.owner) %></td>
    <% if user_signed_in? %>
      <td> <a href="/user_profile/<%= my_book.owner.id %>"> falar com usuario </a> </td>
    <% end %>
  </tr>
<% end %>
</table>
	<% if user_signed_in? && @my_books.empty? %>
	<br>
	  <b>Nenhum usuário possui este livro.</b>   
      <%= submit_tag "Avise-me quando houver"%>
    <% end %>

    <% if !user_signed_in? %>
      <h3> Para começar a trocar, se cadastre e aproveite </h3>
    <% end %>


<br />
