<div class='row'>
  <div class='span6'>
  	<h3>Meus livros</h3>
  	<% @my_books.each do |my_book| %>
  	  <%= my_book.book.title %>
  	  <%= link_to 'Remover', "/remove_my_book/#{my_book.id}", :method => :delete, :class => 'btn btn-mini btn-danger' %>
  	  <br/>
  	<% end %>
  	
	  <br/>
	  
  	<%= form_for(@book, :url => 'add_my_book') do |f| %>
  	  <div><%= f.text_field :title %></div>
  	  <div><%= f.submit "Adicionar livro", :class => 'botao-editar' %></div>
  	<% end %>
  </div>
  
  <div class="span6">
  	<h3>Livros que desejo</h3>
  	<% @desired_books.each do |book| %>
  	  <%= book.title %>
  	  <%= link_to 'Remover', "/remove_desired_book/#{book.id}", :method => :delete, :class => 'btn btn-mini btn-danger' %>
  	  <br/>
  	<% end %>
	  <br/>
  	<%= form_for(@book, :url => '/add_desired_book') do |f| %>
  	  <div><%= f.text_field :title %></div>
  	  <div><%= f.submit "Adicionar livro", :class => 'botao-editar' %></div>
  	<% end %>
  </div>
</div>


<div>
	<form>
		<input id="botao-trocas" type="submit"  value="Maximizar trocas" name="maximizar"/>
	</form>
</div>
