<%= form_for(@my_book, :url => create_my_book_path, :html => { :multipart => true }) do |f| %>
  <div><%= f.label :title %> <%= f.text_field :title %></div>
  <div><%= f.label :weight %> <%= f.text_field :weight %></div>
  <div><%= f.label :additional_information %> <%= f.text_field :additional_information %></div>
  <div><%= f.label :photo %> <%= f.file_field :photo %></div>
  
  <div><%= f.submit "Adicionar livro", :class => 'btn btn-primary' %></div>
<% end %>
