<% if user_signed_in? %>
  <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
  </a>
  
  <%= link_to 'Livro Mania', '#', :class => 'brand' %>
  
  <div class='nav-collapse'>
    <form class='navbar-search'>
		  <input id='search' type="text" class='search-query' name='busca' placeholder='Buscar livro'/>
		</form>
		
		<ul class='nav'>
  	  <li><%= link_to 'Home', root_path %></li>
  		<li><%= link_to 'Mensagens', messages_path %></li>
  		<li><%= link_to 'Editar conta', edit_user_registration_path %></li>
  		<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
		</ul>
	</div>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary' %>
  <%= link_to 'Sign in', new_user_session_path, :class => 'btn' %>
<% end %>
