<% if user_signed_in? %>
<div class='navbar'>
  <div class='navbar-inner'>
        <div class='container'>
          <ul class='nav'>	
              <li class='<%= 'active' if request.fullpath == root_path %>'><%= link_to 'Home', root_path %></li>
              <li class='<%= 'active' if request.fullpath == messages_path %>'><%= link_to 'Mensagens', messages_path %></li>
              <li class='<%= 'active' if request.fullpath == edit_user_registration_path %>'><%= link_to 'Editar conta', edit_user_registration_path %></li>
              <li class='logout <%= 'active' if request.fullpath == contact_us_path %>'><%= link_to 'Fale conosco', contact_us_path %></li>
              <li class='logout <%= 'active' if request.fullpath == contact_us_path %>'><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
  </div>
</div>

<% else %>
<div class='login'>
  <div class=''>
    <p>Olá visitante !!</p>
  </div>
  <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary' %>
  <%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-primary' %>
</div>
<% end %>

