<!DOCTYPE html>
<html>
  <head>
    <title>LivroMania</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='header'>
      <%= link_to '', root_path, :class=>'logo' %>

      <div class='boxUser'>
            <%= render 'layouts/header' %>
      </div>

      <div class='search'>
        <div class="labelSearch">
          busca</br>
          <a href="/advanced_search" style="font-size:13px; color: rgb(255,255,255)"> Busca avançada</a>
        </div>
        <%= form_tag "/find" do %>
          <%= autocomplete_field_tag :search_string, '', autocomplete_book_title_pages_path, :class => 'fieldSearch', :placeholder => 'Digite sua busca' %>

          <%= submit_tag "Ok", :class => 'btn-primary btnBusca searchButton' %>

         <% end %>
      </div>

    </div>
    <div class='corpo'>
      <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
      <% if alert %><p class='alert alert-error'><%= alert %></p><% end %>

      <%= yield %>

    </div>
  </body>
</html>
