  <h2>Editar minha conta</h2>
  
  <br/>
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
      
    <div class='control-group'>
      <%= f.label :name, :class => 'control-label' %>
      <div class='controls'><%= f.text_field :name %></div>
    </div>
    
    <div class='control-group'>
      <%= f.label :cpf, :class => 'control-label' %>
      <div class='controls'><%= f.text_field :cpf %></div>
    </div>
    
    <div class='control-group'>
      <%= f.label :cep, :class => 'control-label' %>
      <div class='controls'><%= f.text_field :cep %></div>
    </div>
    
    <div class='control-group'>
      <%= f.label :email, :class => 'control-label' %>
      <div class='controls'><%= f.email_field :email %></div>
    </div>
    
    <div class='control-group'>
      <%= f.label 'Nova senha', :class => 'control-label' %>
      <div class='controls'><%= f.password_field :password, :autocomplete => "off", :placeholder => '**************' %></div>
    </div>
    
    <div class='control-group'>
      <%= f.label 'Confirmar nova senha', :class => 'control-label' %>
      <div class='controls'><%= f.password_field :password_confirmation, :placeholder => '**************' %></div>
    </div>
    
    <div class='control-group'>
      <%= f.label 'Senha atual', :class => 'control-label' %>
      <div class='controls'><%= f.password_field :current_password, :placeholder => 'digite sua senha atual' %></div>
    </div>
    
    <div><%= f.submit "Atualizar", :class => 'btn btn-primary' %></div>
  <% end %>
  
  <h3>Cancelar minha conta</h3>
  
  <p class='red'>Infeliz? <%= link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Você tem certeza?", :method => :delete, :class => 'red' %>.</p>
</div>