<div class="signIn signUp">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class='control-group'>
    <%= f.label :name, :class => 'control-label' %>
    <div class='controls'><%= f.text_field :name %></div>
  </div>
  
  <div class='control-group'>
    <%= f.label :cpf, :class => 'control-label' %>
    <div class='controls'><%= f.text_field :cpf %></div>
  </div>
  
  <div class='control-group'>
    <%= f.label :cep, :class => 'control-label' %>
    <div class='controls'><%= f.text_field :cep %></div>
  </div>
  
  <div class='control-group'>
    <%= f.label :email, :class => 'control-label' %>
    <div class='controls'><%= f.email_field :email %></div>
  </div>
  
  <div class='control-group'>
    <%= f.label 'Nova senha', :class => 'control-label' %>
    <div class='controls'><%= f.password_field :password, :autocomplete => "off", :placeholder => '**************' %></div>
    <div class="info">
      no mínimo 6 caracteres
    </div>
    <br/>
  </div>
  
  <div class='control-group'>
    <%= f.label 'Confirmar nova senha', :class => 'control-label' %>
    <div class='controls'><%= f.password_field :password_confirmation, :placeholder => '**************' %></div>
  </div>
  
  <div><%= f.submit "Sign up", :class=>"btn" %></div>
<% end %>

<%= render "links" %>